*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

/* Encabezado de la web */

.encabezado{
    position: sticky;
    top: 0;
    z-index: 1000;
    grid-area: cab;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #212932;
}

/* Logo iluminado */

.logo{
    display: flex; 
    align-items: center;
}

.encabezado a .logo i{
    display: flex;

    font-size: 3vw;

    animation: animate 3s linear infinite;
    animation-delay: 0.1s;
}

@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 60px #00b3ff;
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

/* Encabezado */

.encabezado{
    position: relative;
    z-index: 1000;
    bottom: 45%;

    display: flex;
    width: 100%;
    height: 100px;

    background-color: #212932;
    box-shadow: 0 0 10px #4e4e4e;
}

.encabezado a{
    height: 180%;

    display: flex; 
    justify-content: center;
    align-items: center;

    text-decoration: none;
    transition: 1s;
    color: white;
}

.encabezado a h2{
    padding-bottom: 5px;
    padding-left: 10px;
}

.encabezado ul{
    display: flex;
    align-items: center;

    width: 100%;
}

.encabezado ul li{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 28%;
    height: 100%;
}

.encabezado ul li a{
    height: 100%;
}

/* Menú desplegable */

.encabezado ul li > ul{
    display: none;
}

.encabezado ul li:hover > ul{
    position: absolute;
    top: 100px;
    left: 0px;

    display: block;

    z-index: 1000;
}

.encabezado ul li ul li{
    width: 100%;
    height: 50px;

    background-color: #393d45;
}

/* Encabezado imagenes */

.slider{
    grid-area: slider;
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.slider ul{
    display: flex;
    padding: 0; 
    width: 400%;
    height: 100%;
    animation: cambio 20s infinite alternate;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25%{margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.slider a{ 
    width: 100%;
    height: 100%;
    font-style: none;    
}

.slider li{
    width: 100%;
    height: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.slider h3{
    width: 100%;
    position: absolute;
    color: white;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 1vw;
    font-family: 'Raleway', sans-serif;
}

.slider h2{
    width: 40%;
    position: absolute;
    color: white;
    margin-left: 100px;
    margin-top: 80px;
    font-size: 3vw;
    font-family: 'Raleway', sans-serif;
}

.slider li:hover h2, .slider li:hover h3{
    color: yellowgreen;
    transition: 0.5s;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 20px 50px;

    background: #212932;
}

.iconos, .menu{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
}

.iconos li, .menu li{
    list-style: none;
}

.iconos li a{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.iconos li a:hover{
    transform: translateY(-10px);
}

.iconos li a:hover .bxl-twitter{
    color: #00acee;
}

.iconos li a:hover .bxl-facebook-circle{
    color: #3b5998;
}

.iconos li a:hover .bxl-instagram-alt{
    color: #C13584;
}

.menu li a{
    margin: 0 10px;

    text-decoration: none;
    font-size: 1.2em;
    color: white;
    
    transition: 0.5s;
    opacity: 0.5;
}

.menu li a:hover{
    opacity: 1;
}

footer p{
    margin-top: 15px;
    margin-bottom: 10px;

    color: white;
    text-align: center;
    font-size: 0.9em;
}